
<% if(alert.length !== 0) {%>
    <% console.log(alert) %>
    <div class="container notication_alert">
        <div class="alert alert-success my-3" role="alert">
            <%= alert%>
        </div>
    </div>
<%}else {%>
    <%= null%>
<%}%>



