<% var rootPath = '../../'; %>


<!DOCTYPE html>
<html lang="en">
<%- include(rootPath + 'elements/guest/header.ejs')%>

<body>
    <%- include(rootPath + 'elements/guest/navbar.ejs')%>

    <!-- Begin Main -->
    <main class="site-main">
        <!--================Blog Area =================-->
        <section class="blog_area single-post-area py-80px section-margin--small">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget author_widget">
                                <img class="author_img rounded-circle" src="/img/blog/author.png" alt="">
                                <h4>Hoàng Huy</h4>
                                <p>Bidder</p>
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget post_category_widget">
                                <ul class="list cat-list">
                                    <li class="active-item">
                                        <a href="#" class="d-flex justify-content-between">
                                            <p><i class="fas fa-user"></i> Tài khoản của tôi</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex justify-content-between">
                                            <p><i class="fas fa-heart"></i> Yêu thích</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex justify-content-between">
                                            <p><i class="fas fa-spinner"></i> Đang đấu giá</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex justify-content-between">
                                            <p><i class="fas fa-gavel"></i> Đã đấu giá</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex justify-content-between">
                                            <p><i class="fas fa-crown"></i> Đã thắng</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex justify-content-between">
                                            <p><i class="fas fa-star"></i> Đánh giá về bạn</p>
                                        </a>
                                    </li>
                                </ul>
                                <div class="br"></div>
                            </aside>
                        </div>
                    </div>
                    <div class="col-lg-8 posts-list">
                        <div class="info-form">
                            <h4>Thông tin tài khoản</h4>
                            <form>
                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 col-form-label">Họ tên</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name" placeholder="Nhập họ tên"
                                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập họ tên'">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="email"
                                            placeholder="Nhập địa chỉ email" onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Nhập địa chỉ email'">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password" class="col-sm-2 col-form-label">Xác nhận mật khẩu</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="password"
                                            placeholder="Nhập mật khẩu">
                                    </div>
                                </div>
                                <a href="#" class="button button-postComment button--active btn-sm">Lưu</a>
                            </form>
                        </div>
                        <div class="info-form mt-4">
                            <h4>Đổi mật khẩu</h4>
                            <form>
                                <div class="form-group row">
                                    <label for="password" class="col-sm-2 col-form-label">Mật khẩu mới</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu"
                                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập mật khẩu'">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="repassword" class="col-sm-2 col-form-label">Xác nhận mật khẩu</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="repassword"
                                            placeholder="Nhập mật khẩu" onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Nhập mật khẩu'">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="oldpassword" class="col-sm-2 col-form-label">Mật khẩu cũ</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="oldpassword"
                                            placeholder="Nhập mật khẩu">
                                    </div>
                                </div>
                                <a href="#" class="button button-postComment button--active btn-sm">Xác nhận</a>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--================Blog Area =================-->

    </main>

    <!-- End Main -->

    <%- include(rootPath +  'elements/guest/footer.ejs')%>

    <%- include(rootPath + 'elements/guest/commonJs.ejs')%>

</body>

</html>