<% var rootPath = '../../'; %>


<!DOCTYPE html>
<html lang="en">
<%- include(rootPath + 'elements/guest/header.ejs')%>

<body>
    <%- include(rootPath + 'elements/guest/navbar.ejs')%>

    <!-- Begin Main -->
    <main class="site-main">


    </main>

    <!-- End Main -->

    <%- include(rootPath +  'elements/guest/footer.ejs')%>

    <%- include(rootPath + 'elements/guest/commonJs.ejs')%>

</body>

</html>