<div class="blog_right_sidebar">
    <aside class="single_sidebar_widget author_widget">
        <img class="author_img rounded-circle" src="/img/blog/author.png" alt="">
        <h4><%= fullName%></h4>
        <p>Bidder</p>
        <div class="br"></div>
    </aside>
    <aside class="single_sidebar_widget post_category_widget">
        <ul id="profile-sidebar" class="list cat-list">
            <li>
                <a href="/bidder/profile" class="d-flex justify-content-between">
                    <p><i class="fas fa-user mr-2"></i> Tài khoản của tôi</p>
                </a>
            </li>
            <li>
                <a href="/bidder/profile/favorite" class="d-flex justify-content-between">
                    <p><i class="fas fa-heart mr-2"></i> Yêu thích</p>
                </a>
            </li>
            <li>
                <a href="/bidder/profile/bidding" class="d-flex justify-content-between">
                    <p><i class="fas fa-spinner mr-2"></i> Đang đấu giá</p>
                </a>
            </li>
            <li>
                <a href="/bidder/profile/won" class="d-flex justify-content-between">
                    <p><i class="fas fa-crown mr-2"></i> Đã thắng</p>
                </a>
            </li>
            <li>
                <a href="/bidder/profile/review" class="d-flex justify-content-between">
                    <p><i class="fas fa-star mr-2"></i> Đánh giá về bạn</p>
                </a>
            </li>
            <li>
                <a href="/bidder/profile/upgrade" class="d-flex justify-content-between">
                    <p><i class="fas fa-angle-double-up mr-2"></i> Nâng lên Seller</p>
                </a>
            </li>
        </ul>
        <div class="br"></div>
    </aside>
</div>

